*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
.container{
  width: 100%;
  text-align: center;
  display: inline-flex;

}
.title h1{
  font-size: 40px;
  text-align: center;
  margin: 50px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;

}


.content{
  width: 100%;
  display:flex;
  justify-content: space-evenly;
}
.card{
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 220px;
}
.card h3{
  text-align: center;
  padding: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
}

.img {
  height: 250px;
  overflow:hidden;
  position: relative;
}
.img img{
  width: 220px;
}




.img_info{
  position: absolute;
  top: 250px;
  left: 0;
  color: white;
  width: 220px;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.img_info span{
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}



.img_info p{
  font-size: 14px;
  text-align: center;

  }
#one:hover .img_info img{
  transform: translateY(-100%);
  transition: all 035s ease;
}

#one:hover .img_info{
  background: rgba(0,0,0,0.5);
  transform: translateY(-100%);
  transition: all 0.35s ease;
}
