*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* background gredient color effect */
body{
  background: linear-gradient(-45deg,#032d4b, #04497a, #0772bd, #0995f5);
  animation: change 15s ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;

  }

}


/* details form and erros styling */
.myQuery{
  margin-top: 74px;
  width: 100%;
  height: 100vh;
  color: #fff;
}



h1 {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 20px;
  font-size: 2.7em;
}

#queryForm2 {
  border: 5px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 40%;
  text-align: left;
  margin: auto;
  padding: 20px;
}

.first_h {
  font-weight: bold;
  margin-top: -20px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.labl1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.labl2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.label3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  padding-right: 17px;
}

input[type=text], input[type=email] {
  padding-left: 10px;
  border-radius: 7px;
  font-size: 20px;
  width: 75%;
}

textarea {
  padding-left: 10px;
  width: 90%;
  border-radius: 7px;
  margin-top: 15px;
  height: 80px;
  font-size: 20px;
}

.info {

  padding: 10px;

}
.info2{
  border-radius: 10px;
  margin-left: 470px;
  padding: 11px;
  font-weight: bold;
}
#error, #error2 {
  padding-left: 90px;
  font-weight: normal;
  font-size: 0.8em;
  color: red
}

#error3 {
  margin-top: -15px;
  margin-bottom: 20px;
  color: red;
}

#error4 {
  font-weight: normal;
  font-size: 0.9em;
  color: red
}
/* confirmation box styling */
#Confirmation {
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  border-radius: 25px;
  width: 30%;
  text-align: left;
  padding: 20px;
  line-height: 1.6em;
  font-weight: bold;
  font-size: 1.15em;
  margin-left: 530px;
  position: absolute;
  margin-top: 160px;
}

#Confirmation h1 {
  margin-top: -20px;
  margin-bottom: 0px;
}

#Confirmation #details {
  font-weight: bold;
  font-size: 1.1em;
}
/* send and edit button styling */

#btn1 {
  padding: 10px;
  margin-top: 30px;
  margin-right: 258px;
  font-weight: bold;
  border-radius: 6px;
  width: 70px;
  font-size: large;
}

#btn2 {
  margin-top: 30px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  width: 70px;
  font-size: large;
}
