body{
  background-color: #b8c7e5;
}
.fail{
    background-color: rgb(225 29 72);
}

.pass{
    background-color: rgb(34 197 94);
}

.hidden{
    display: none;
}

#reviewView{
    /* min-height: max-content; */
    height: 100%;
}

.quiz-container{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
    margin-top: 100px;
}
.options {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.option {
    width: 200px;
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

#prompt{
    font-size: 25px;
    font-weight: bold;
}

#quizView{
  height: max-content;
  margin-bottom: 8%;
    margin-top: 10px;
    padding: 20px;
}

#reviewView{
    height: max-content;
    margin-bottom: 8%;
    margin-top: 10px;
    padding: 20px;
}

.checkAnswerBtn{
    margin-top: 15px;
    background-color: rgb(14 165 233);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}

.checkAnswerBtn:hover {
    background-color: rgb(3 105 161);
}

#correctAnswers, #wrongAnswers{
    font-size: 20px;
}

#wrongAnswers p{
  padding: 10px;
}

#correctAnswers p{
  padding: 10px;
}
