*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{
    background: linear-gradient(-45deg,#1a5c8b, #206392, #0772bd, #0995f5);
    animation: change 15s ease-in-out infinite;
    background-size: 400% 400%;


  }
@keyframes change {
  0%{
    background-position: 0 50%;
    }
  50%{
   background-position: 100% 50%;
    }
  100%{
  background-position: 0 50%;

    }

  }



.container{
  width: 100%;
  text-align: center;
  display: inline-flex;
  margin-bottom: 8%;
}
.title h1{
  color:white;
  font-size: 50px;
  text-align: center;
  margin: 50px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
   text-shadow: 1px 1px 44px #fff;

}


.content{
  width: 100%;
  display:flex;
  justify-content: space-evenly;
}
.card{
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 220px;
}
.card h3{
  background-color: white;
  font-size:20px;
  text-align: center;
  padding: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.img {
  background-color: white;
  height: 241px;
  overflow:hidden;
  position: relative;
}
.img img{
  width: 220px;
}




.img_info{
  position: absolute;
  top: 250px;
  left: 0;
  color: white;
  width: 220px;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}


.img_info span{
  font-size:20px;
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}



.img_info p{
  font-size: 20px;
  text-align: center;

  }
.card:hover .img_info img{
  transform: translateY(-100%);
  transition: all 035s ease;
}

.card:hover .img_info{
  background: rgba(0,0,0,0.5);
  transform: translateY(-100%);
  transition: all 0.35s ease;
}

/* css for scroll button */
#scrollbtn {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 12px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(55, 140, 209);
  color: white;
  cursor: pointer;
  padding: 3px;
  border-radius: 18px;

}

#scrollbtn:hover {
  background-color: rgb(0, 0, 0);
}
